<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= viatura.marca %> <%= viatura.modelo %></title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="main">
        <%- include("../_templates/navbar.ejs") %>
        <div class="content-container">
            <div class="sidebar">

            </div>
            <div class="content">
                <h2><%= viatura.marca %> <%= viatura.modelo %></h2>

                <% for (const v of viaturas) { %>
                    <h3>Matrícula: <%= v.matricula %></h3>
                    <h3>Dono: <%= v.reparacoe.nome %></h3>
                    <h4>Reparação:<a href="/reparacao/<%= v.reparacoe.id %>"><%= v.reparacoe.id %></a></h4>
                <% } %>
            </div>
        </div>
        <div class="footer">
            
        </div>
    </div>

    <script src="/assets/js/main.js"></script>
</body>
</html>