<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viaturas</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="main">
        <%- include("../_templates/navbar.ejs") %>
        <div class="content-container">
            <div class="sidebar">

            </div>
            <div class="content">
                <div class="table entryTable interventions">
                    <div class="table-row head">
                        <!-- <tr> -->
                            <div class="table-cell">Marca</div>
                            <div class="table-cell">Modelo</div>
                            <div class="table-cell">Nº de Carros</div>
                        <!-- </tr> -->
                    </div>
                    <!-- <div> -->
                        <% for (const marca in viaturas) { %>
                            <% for (const modelo in viaturas[marca]) { %>
                                <a href="/viatura/<%= marca %>/<%= encodeURIComponent(modelo) %>" class="entry table-row">
                                    <div class="table-cell" name="marca"><%= marca %></div>
                                    <div class="table-cell" name="modelo"><%= modelo %></div>
                                    <div class="table-cell" name="nr_carros"><%= viaturas[marca][modelo] %></div>
                                </a>
                            <% } %>
                        <% } %>
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <%- include("../_templates/footer.ejs") %>
    </div>

    <script src="/assets/js/main.js"></script>
</body>
</html>