<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= instrumento?.id ?? "N/A" %></title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="main">
        <%- include("../_templates/navbar.ejs") %>
        <div class="content-container">
            <div class="sidebar">
                <% for (const instrumento of instrumentos) { %>
                    <h3><a href="/instrumentos/<%= instrumento.id %>"><%= instrumento["#text"] %></a></h3>
                <% } %>
            </div>
            <div class="content">
                <% if (typeof instrumento === "object" && Object.keys(instrumento).length > 0) { %>
                    <h2><%= instrumento["#text"] %></h2>
                    <h3>ID: <%= instrumento.id ?? -1 %></h3>
                    <br/>
                    <h3>Alunos:</h3>
                    <div class="table entryTable interventions">
                        <div class="table-row head">
                                <div class="table-cell">ID</div>
                                <div class="table-cell">Nome</div>
                        </div>
                        <% for (const aluno of alunos) { %>
                            <a href="/alunos/<%= aluno.id %>" class="entry table-row">
                                <div class="table-cell" name="id"><%= aluno.id %></div>
                                <div class="table-cell" name="nome"><%= aluno.nome %></div>
                            </a>
                        <% } %>
                    </div>
                <% } else { %>
                    <h1>Instrumento desconhecido</h1>
                <% } %>
            </div>
        </div>
        <%- include("../_templates/footer.ejs") %>
    </div>

    <script src="/assets/js/main.js"></script>
</body>
</html>